/* base */
.base {
    background-color: #faf7f2;
    color: #665d57;
    font-family: '游ゴシック', YuGothic, Arial, Roboto, 'Droid Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
    letter-spacing: 2px;
}
.base__title {
    font-family: 'a-otf-futo-min-a101-pr6n', '游明朝', YuMincho, 'Hiragino Mincho ProN W3', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
}
.base__shadow {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .1);
}

/* header */
.header__logo {
    font-family: 'a-otf-futo-min-a101-pr6n', '游明朝', YuMincho, 'Hiragino Mincho ProN W3', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
}
.header__logo:hover {
    text-decoration: none;
    color: #665d57;
    opacity: .8;
}
.header__logo--text {
    color: #665d57;
}
.header__logo--bgc {
    background-color: #665d57;
    color: #faf7f2;
}


/* navi */
.g-navi {
    list-style: none;
    font-family: 'a-otf-futo-min-a101-pr6n', '游明朝', YuMincho, 'Hiragino Mincho ProN W3', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
    text-align: right;
}
.g-navi__items {
    color: #665d57;
}
.g-navi__items:hover {
    color: #e52e2e;
    text-decoration: underline;
}


/* message */
.message {
    background-color: #fff;
    padding: 6rem 9rem !important;
    margin: 6rem 0;
}

/* skills */
.skills {
    min-height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg-01.png);
    color: #faf7f2;
    padding: 6rem 0;
}
.skills__tab {
    padding: 30px;
}
.skills__tab--item:hover {
    opacity: .7;
    cursor:pointer;
    transition: .5s;
}
.skills__tab--content {
    display: none;
    clear: both;
    overflow: hidden;
    padding: 3rem;
    margin: 1rem 3rem;
    color: rgba(102, 93, 87, .8);
    background-color: #faf7f2;
    border-radius: 5px;
}
/*ラジオボタンを全て消す*/
input[type="radio"] {
    display: none;
}
/*選択されているタブのコンテンツのみを表示*/
#photoshop:checked ~ #photoshop-content,
#illustrutor:checked ~ #illustrutor-content,
#html:checked ~ #html-content,
#css:checked ~ #css-content,
#sass:checked ~ #sass-content,
#ruby:checked ~ #ruby-content,
#bootstrap:checked ~ #bootstrap-content,
#sql:checked ~ #sql-content {
    display: block;
}
.skills__list {
    list-style-type: square;
}

/* worksportfolio */
.works {
    position: relative;
    z-index: 1;
    padding: 6rem 9rem !important;
    margin: 6rem 0;
}
.works::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 36vw;
    background: #fff;
    z-index: 2;
}
.works__inner {
    position: relative;
    z-index: 3;
}
.works__work {
    overflow: hidden;
    position: relative;
}
.works__mask {
    color: #faf7f2;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(102,93,87,0.8);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.works__mask--buttom {
    border: 1px solid #faf7f2;
}
.works__work:hover .works__mask {
    opacity: 1;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* about */
.about {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg-02.png);
    color: #665d57;
    padding: 6rem 0;
    margin-bottom: 15rem;
}
.about__content {
    border-left: 1px solid #665d57;
    padding: 1rem 5rem !important;
}
.about__content--link {
    color: #665d57;
}
.about__content--link:hover {
    color: #665d57;
    text-decoration: underline;
    opacity: .7;
}


/* footer */
.footer {
    background-color: #665d57;
    color: #faf7f2;
}