@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

/* base */
.base {
  background-color: #fff;
  color: #707070;
  font-family: Sofia Pro,'游ゴシック', YuGothic, Arial, Roboto, 'Droid Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  letter-spacing: 2px;
  overflow-x: hidden;
}

/* 縮小 */
.zoomOut {
  -webkit-animation-name: zoomOutAnime;
          animation-name: zoomOutAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes zoomOutAnime {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOutAnime {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.zoomOutTrigger {
  opacity: 0;
}

/* header */
header {
  position: fixed;
  z-index: 10;
  width: 100vw;
}

header .hb-line {
  border-top: 1px solid #707070;
  width: 40px;
  padding-bottom: 12px;
}

/* header_name */
.scroll-header-pc {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

.scroll-header-pc.show {
  opacity: 1;
}

.scroll-header-pc a {
  color: #707070;
}

@media (max-width: 767px) {
  .sidenav_toggle {
    text-align: right;
    width: 100%;
  }
}

/* sidenav */
.sidenav_toggle {
  display: block;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.sidenav_toggle.open .hb-line {
  border-color: #fff;
}

.sidenav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.sidenav .sidenav-list {
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.sidenav a {
  color: #fff;
}

.sidenav.open {
  opacity: 1;
  visibility: visible;
}

.sidenav.open .sidenav-list {
  display: block;
  position: absolute;
  z-index: 10;
}

@-webkit-keyframes leftIn {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
  100% {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
}

@keyframes leftIn {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
  100% {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
}

@-webkit-keyframes leftOut {
  0% {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
  100% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
}

@keyframes leftOut {
  0% {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
  100% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
}

@-webkit-keyframes leftInSp {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
  100% {
    -webkit-transform: translateX(70vw);
            transform: translateX(70vw);
  }
}

@keyframes leftInSp {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
  100% {
    -webkit-transform: translateX(70vw);
            transform: translateX(70vw);
  }
}

@-webkit-keyframes leftOutSp {
  0% {
    -webkit-transform: translateX(70vw);
            transform: translateX(70vw);
  }
  100% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
}

@keyframes leftOutSp {
  0% {
    -webkit-transform: translateX(70vw);
            transform: translateX(70vw);
  }
  100% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
}

@-webkit-keyframes hbLine1 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
  }
}

@keyframes hbLine1 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
  }
}

@-webkit-keyframes hbLine2 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes hbLine2 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes hbLine3 {
  0% {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  100% {
    -webkit-transform: translate(8px, -13px) rotate(-45deg);
            transform: translate(8px, -13px) rotate(-45deg);
  }
}

@keyframes hbLine3 {
  0% {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  100% {
    -webkit-transform: translate(8px, -13px) rotate(-45deg);
            transform: translate(8px, -13px) rotate(-45deg);
  }
}

.sidenav_toggle {
  position: absolute;
  z-index: 15;
}

.sidenav_toggle.open .hb-line-1 {
  -webkit-animation: hbLine1 .8s forwards;
          animation: hbLine1 .8s forwards;
}

.sidenav_toggle.open .hb-line-2 {
  -webkit-animation: hbLine2 .8s forwards;
          animation: hbLine2 .8s forwards;
}

.sidenav_toggle.open .hb-line-3 {
  -webkit-animation: hbLine3 .8s forwards;
          animation: hbLine3 .8s forwards;
}

.sidenav:before {
  content: '';
  background-color: #707070;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 100vw;
  -webkit-animation: leftOut .8s forwards;
          animation: leftOut .8s forwards;
}

.sidenav.open:before {
  -webkit-animation: leftIn .8s forwards;
          animation: leftIn .8s forwards;
}

@media (max-width: 767px) {
  .sidenav.open:before {
    -webkit-animation: leftInSp .8s forwards;
            animation: leftInSp .8s forwards;
  }
  .sidenav:before {
    -webkit-animation: leftOutSp .8s forwards;
            animation: leftOutSp .8s forwards;
  }
}

@media (min-width: 992px) {
  .title-position-lg {
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .top-image-lg {
    background-image: url("../img/bg-image.png");
    background-repeat: no-repeat;
    background-position: 50vw 50%;
  }
}

@media (min-width: 1400px) {
  .pl-xxl-15 {
    padding-left: 15rem !important;
  }
  .px-xxl-15 {
    padding-left: 15rem !important;
    padding-right: 15rem !important;
  }
}

@media (min-width: 1200px) {
  .pl-xl-10 {
    padding-left: 10rem !important;
  }
  .px-xl-10 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
}

@media (min-width: 992px) {
  .pl-lg-8 {
    padding-left: 8rem !important;
  }
  .py-lg-15 {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
  .pt-lg-15 {
    padding-top: 15rem;
  }
}

@media (min-width: 768px) {
  .py-md-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .pt-md-10 {
    padding-top: 10rem;
  }
}

@media (min-width: 576px) {
  .py-sm-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .pt-sm-8 {
    padding-top: 8rem !important;
  }
  .pb-sm-6 {
    padding-bottom: 6rem;
  }
}

.pt-6 {
  padding-top: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.fadeUpTrigger {
  opacity: 0;
}

.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.skills__skill {
  overflow: hidden;
  position: relative;
}

.skill__mask {
  color: #707070;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  padding: 1rem;
  z-index: 2;
}

.skills__skill:hover .skill__mask {
  cursor: pointer;
  opacity: 1;
  border: 1px solid #FFC4AB;
}

.base__link--active:active {
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.base__link--active:hover {
  text-decoration: none;
}

.works__work {
  overflow: hidden;
  position: relative;
}

.works__work__more {
  color: #707070;
}

.works__work__more:hover {
  color: #707070;
}

.work__mask {
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(218, 218, 218, 0.5);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  padding: 1rem;
  z-index: 2;
}

.works__work:hover .work__mask {
  cursor: pointer;
  opacity: 1;
  background-color: #dadada;
}

.profile__list {
  padding-left: 2rem;
  position: relative;
}

.profile__list dt {
  position: relative;
}

.profile__list dt::before {
  content: "";
  display: block;
  background: #FFC4AB;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: -1rem;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.profile__list__bar {
  width: 1px;
  height: 30rem;
  background: #FFC4AB;
  position: absolute;
  left: 1rem;
  top: -1rem;
}

@media (min-width: 576px) {
  .profile__list {
    padding-left: 3rem;
  }
  .profile__list dt::before {
    left: -2rem;
  }
  .profile__list__bar {
    height: 24rem;
  }
}

footer {
  background: #707070;
  color: #fff;
}

.footer__nav {
  list-style: none;
}

.footer__nav a {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */